<p>Hi,</p>

<p>
  We received a request to log in to your account. Please use the following one-time password (OTP)
  to complete your login:
</p>

<p>🔑 Your OTP: {{ .Token }}</p>

<p>
  This code is valid for 10 minutes and can only be used once. If this Sign-In attempt was not
  initiated by you, please reset your TOP Dealer Portal Account. To reset your password please go to
  the following link: <a href="{{ .SiteURL }}/update-password">TOP Portal - Password Reset</a>
</p>

<p>For security reasons, do not share this code with anyone.</p>

<p>If you need assistance, feel free to contact our support team.</p>

<p>TOP Portal - Development</p>
