<p>Hi,</p>

<p>
  We received a request to reauthenticate your account. Please use the following one-time password
  (OTP) to complete your login:
</p>

<p>🔑 Your OTP: {{ .Token }}</p>

<p>
  This code is valid for 10 minutes and can only be used once. If this Re-Authenticate attempt was
  not initiated by you, please reset your Dealer Portal Account.
</p>

<p>Re authentication attempt might be due to the following requests:</p>
<ul>
  <li>First Time Sign In Password Change</li>
</ul>

<p>For security reasons, do not share this code with anyone.</p>

<p>If you need assistance, feel free to contact our support team.</p>
